{{ block title }}
{% if lan_en %}
    Thank you for filling in our survey.
{% else %}
    Vielen Dank, dass Sie unsere Umfrage ausgefüllt haben.
{% endif %}
{{ endblock }}

{{ block content }}

{% if lan_en %}
<p style="margin-bottom:1.5em;">Please feel very welcome to contact us via <a href= "mailto:collectivemindslab@csh.ac.at
">collectivemindslab@csh.ac.at</a>, if you have any questions, feedback, or want to know more about the study and the results.</p>
{% else %}
<p style="margin-bottom:1.5em;">Kontaktieren Sie uns sehr gerne über <a href= "mailto:collectivemindslab@csh.ac.at
">collectivemindslab@csh.ac.at</a>, wenn Sie Fragen haben, Feedback geben wollen oder mehr über die Studie und die Resultate wissen wollen.</p>
    {% endif %}

{% comment %} {% if lan_en %}
    {{ next_button }}
{% else %}
    <button type="submit" class="otree-btn-next btn btn-primary">Weiter</button>{% endif %} {% endcomment %}

{{ endblock }}


