{% block styles %}
    <link rel="stylesheet" href="{{ static 'main.css' }}">
{% endblock %}

{{ block content }}

<h2>{{page_title}}</h2>

<br>

<p style="font-size: 20px;"> {{qu_closeness}}</p>


<form method="post">
    <table class="survey-table-clean">
        <tbody>
            {% for item in field_question_pairs %}
            <tr>
                <!-- Question text in the first column -->
                <td class="question-cell" width="30%">
                    {{ item.question_text }}
                </td>

                <td class="options-cell">
                    <div class="option-cards" data-field="{{ item.field_name }}">
                        {% for value, label in item.choices.items %}
                         {% if value == "No answer" %}
                            <div class="option-separator"></div> 
                        {% endif %}
                        <label class="option-card" data-value="{{ value }}">
                            <input type="radio" name="{{ item.field_name }}" value="{{ value }}">
                            {{ label }}
                        </label>
                        {% endfor %}
                    </div>
                    {{ formfield_errors item.field_name }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>


<div style="display: flex; justify-content: space-between; align-items: center;">
    {% if lan_en %}
        {{ next_button }}
        <div style="margin-left: auto;">Page {{nslide}}/{{maxslides}}</div>
    {% else %}
        <button type="submit" class="otree-btn-next btn btn-primary">Weiter</button>
        <div style="margin-left: auto;">Seite {{nslide}}/{{maxslides}}</div>
    {% endif %}
</div>

<script>
document.querySelectorAll('.option-cards').forEach(group => {
    const name = group.dataset.field;
    group.querySelectorAll('input[type="radio"]').forEach(radio => {
        radio.addEventListener('change', () => {
            group.querySelectorAll('.option-card').forEach(card => {
                card.classList.remove('selected');
            });
            radio.closest('.option-card').classList.add('selected');
        });
    });
});
</script>



{{endblock}}