{% block styles %}
    <link rel="stylesheet" href="{{ static 'main.css' }}">
{% endblock %}


{{ block title }}
{% if lan_en %}
End of survey
{% else %}
Ende der Umfrage
{% endif %}
{{ endblock }}


{{ block content }}
{% if lan_en %}
    <p>
        An error has occurred or you did not declare your consent for participation in this survey 
    </p>

     <p>    
            No data from your participation will be used.
        </p>

        <p>
            If you believe this was an error or if you have any questions, feel free to contact the study coordinators at
            <a href="mailto:collectivemindslab@csh.ac.at">collectivemindslab@csh.ac.at</a>.
        </p>

{% else %}
    <p>
        Ein Fehler ist aufgetreten oder Sie haben nicht Ihr Einverständnis gegeben an dieser Studie teilzunehmen. 
    </p>
     <p>
        Es werden keine Daten aus Ihrer Teilnahme verwendet.
        </p>

        <p >Wenn Sie glauben, dass es sich um einen Fehler handelt oder wenn Sie Fragen haben, wenden Sie sich gerne an die Studienkoordinator:innen unter <a href= "mailto:collectivemindslab@csh.ac.at">collectivemindslab@csh.ac.at</a>.</p>
    {% endif %}


{{ endblock }}


